/* You can add global styles to this file, and also import other style files */
.row {
  height: 20px;
  margin-bottom: 1px;
}

.space {
  vertical-align: top;
  height: 20px;
  width: 20px;
  background-color: tomato;
  margin-left: 1px;
  display: inline-block;
}
.space:hover{
  background-color: salmon;
}

.bomb-count {
  font-size: 20px;
  text-align: center;
  color: white;
  margin-left: 6px;
}
